.paragraph{
    font-size: 1rem;
    margin: 2rem 0;
}
.moshopper{
    margin: 2rem 0;
}
.btn button{
    margin-right: 1rem 0;
}
@media only screen and (max-width:760px) {
    #home{
        display: flex;
        flex-direction: column;
    }
}