.paragraph{
    font-size: 1rem;
    margin: 2rem 0;
}
.moshopper h1{
    margin: 2rem 0;
    font-size: 60px;
}
.homepg{
    font-size: 2em;
}
.btn button{
    margin-right: 1rem 0;
    padding: 1rem 2rem;
}

.prods {
    margin: 0 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.homethings{
    display: flex;
    justify-content: space-between;
    align-items: center;
}