
.contact{
    height: 400px;
    margin: 6rem 0;
}
.col-md-3{
    background:red;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info img{
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 4%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background-color: #00BFFF;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}