
.btnb{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
/* .shopper h3{
    margin-top: -3rem;
} */
.listlinks{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.listlinks ul{
    margin: auto;
}
.listlinks ul li{
    margin: 0 1rem ;
}
.navmargin{
    margin: 0 4rem;
    position:fixed;

}
.btnlogin .btnlog{
    margin-right: 1rem;
}
